@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

#MaDrdiv{
    position: absolute;
    white-space: nowrap;
    z-index:7;
    background-color:#6A6C6E;
    text-decoration-color: #872DE6;
    text-align:center;
    border-left:.2rem solid white;
    border-top:.2rem solid white;
    border-right:.2rem solid black;
    border-bottom:.2rem solid black;
    box-shadow: .3rem .3rem;
}
#MaDrdivheader{
    padding:2rem;
    cursor: grab;
    z-index:7;
}
html{
    background-color:#000;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}
h2 {
    border-bottom:.2rem solid black;
}
.a1:link, .a1:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
.a1:hover, .a1:active {
    background-color: #872DE6;
  }
.a2 {
    color: #872DE6;
}
.a2:hover {
    background-color: #872DE6;
    color: white;
}
text {
    color: #872DE6;
}
footer {
    position: fixed;
    height: 1rem;
    bottom: .5rem;
    left: 50%;
}
